{% extends "base.html" %}

{% block subbar_content %}
    <div class="container">
        <nav class="navbar navbar-default fixed-top navbar-light bg-light navbar-custom"
             style="background-color: #4479a1;">
            <ul class="nav navbar-nav">
                 {% for myq in mysqlquery %}
                <li><a class="flex-sm-fill text-sm-center nav-link" href="{{ myq.url }}">{{ myq.Name }}</a></li>
                {% endfor %}

            </ul>
        </nav>
    </div>

{% endblock subbar_content %}
