{% extends "MYSQLCOM/MYSQL_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            MySQL Enterprise
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for enterprise in EnterpriseDropDown %}
                <li class="dropdown-item"><a href="{{ enterprise.url }}">{{ enterprise.name }}</a></li>
            {% endfor %}
        </div>
    </div>


    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            MySQL Cluster CGE
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for o in ClusterDropDown %}
                <li class="dropdown-item"><a href="{{ o.url }}">{{ o.name }}</a></li>
            {% endfor %}
        </div>


    </div>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            MySQL for OEM/ISV
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for o in OEMDropDown %}
                <li class="dropdown-item"><a href="{{ o.url }}">{{ o.name }}</a></li>
            {% endfor %}
        </div>
    </div>

    <h2>Oracle MySQL Cloud Service</h2>

    <p>Oracle MySQL Cloud Service delivers a secure, cost-effective and enterprise-grade MySQL database service. Built
        on MySQL Enterprise Edition and powered by the Oracle Cloud, it provides a simple, automated, integrated and
        enterprise ready MySQL cloud service, enabling organizations to increase business agility and reduce costs.</p>

    <hr>

    <li class="list-group-item list-group-item-action active">Oracle MySQL Cloud Service:</li>
    {% for o in cloudbutton %}
        <li class="list-group-item list-group-item-action"><a href="{{ o.url }}">{{ o.name }}</a></li>
    {% endfor %}
    {% for o in cloudbutton2 %}
        <li class="list-group-item list-group-item-action"><a href="{{ o.url }}">{{ o.name }}</a></li>
    {% endfor %}



    <div class="card">
        <div class="card-header">
            Oracle MySQL Cloud Service delivers:
        </div>
        <div class="card-body">
            <h5 class="card-title">MySQL Enterprise Edition</h5>
            <p class="card-text">MySQL Cloud Service provides all the benefits of MySQL Enterprise Edition to deliver
                the highest levels of MySQL performance, security and uptime..</p>
            <h5 class="card-title">Easy to Use</h5>
            <p class="card-text">MySQL Cloud Service provides a simple and user-friendly, web-based console to manage
                your MySQL Cloud instances. A REST API and command line tool are also available to administrators..</p>
            <h5 class="card-title">Self-service Provisioning</h5>
            <p class="card-text">Create preconfigured MySQL databases optimized for performance, and cloud tooling
                automates database instance lifecycle management.</p>
            <h5> class="card-title" Elastic Scalability </h5>
            <p class="card-text"> Automated scaling enables users to elastically scale compute and storage resources as
                well as MySQL replicas.</p>
            <h5 class="card-title">High Availability</h5>
            <p class="card-text"> MySQL Replication and MySQL Replication monitoring improve application uptime and
                minimize service disruptions.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

{% endblock %}