{% extends "FLOVEMOVIE/moviebase.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Cinema in HongKong
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for HK in HongKong %}
                <li class="dropdown-item"><a href="{{ HK.url }}">{{ HK.name }}</a></li>
            {% endfor %}
        </div>
    </div>


    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Cinema in Kowloon
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for KL in Kowloon %}
                <li class="dropdown-item"><a href="{{ KL.url }}">{{ KL.name }}</a></li>
            {% endfor %}
        </div>
    </div>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Cinema in NewTerritories
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for NT in NewTerritories %}
                <li class="dropdown-item"><a href="{{ NT.url }}">{{ NT.name }}</a></li>
            {% endfor %}
        </div>
    </div>

    <h2>Cinema Of HongKong</h2>

    <p> The cinema of Hong Kong (Chinese: 香港電影) is one of the three major threads in the history of Chinese language
        cinema, alongside the cinema of China, and the cinema of Taiwan. As a former British colony, Hong Kong had a
        greater degree of political and economic freedom than mainland China and Taiwan, and developed into a filmmaking
        hub for the Chinese-speaking world (including its worldwide diaspora).</p>

    <hr>
    <div class="card w-75">
        <div class="card-body">
            <h2 class="card-title">Multiplex Cinema Limited (MCL</h2>
            <p class="card-text">Multiplex Cinema Limited (MCL) was formed in 1982 to provide audience with the best
                movie-going experience. MCL currently manages 10 prime cinema sites and 51 screens in Hong Kong. Cinemas
                on the Kowloon side include Festival Grand in Kowloon Tong, MCL Telford Cinema in Kowloon Bay and the
                MCL Cheung Sha Wan Cinema in Cheung Sha Wan. On the HK Island, there are Grand Windsor Cinema in
                Causeway Bay, MCL South Horizons Cinema in Ap Lei Chau and Grand Kornhill Cinema in Tai Koo. There are
                also 4 cinemas found in the New Territories namely Movie Town in Shatin, MCL Green Code Cinema in
                Fanling and MCL Metro City Cinema and STAR Cinema both from the Tseung Kwan O district. All of the MCL
                Cinemas are located close to the MTR stations and can be accessed by the audience easily.

            </p>
            <a href="https://www.mysql.com/products/enterprise/document_store.html" class="btn btn-primary">Learn More
                »</a>
        </div>
    </div>

    <div class="card w-75">
        <div class="card-body">
            <h2 class="card-title">MySQL Enterprise Transparent Data Encryption (TDE)</h2>
            <p class="card-text">MySQL Enterprise Transparent Data Encryption (TDE) enables data-at-rest encryption by
                encrypting the physical files of the database. Data is encrypted automatically, in real time, prior to
                writing to storage and decrypted when read from storage.</p>
            <a href="https://www.mclcinema.com/Index.aspx?visLang=2" class="btn btn-primary">Learn More »</a>
        </div>

    </div>

    <div class="card w-75">
        <div class="card-body">
            <h2 class="card-title">Broadway Circuit</h2>
            <p class="card-text">Since the beginning of the 20th century, “Broadway” is known for its reputation as the
                birthplace for many famous art and entertainment performances such as musicals, dramas, operas and
                dancing, bringing the audience to a series of fabulous in stage entertainments. As of today, many of the
                performances are considered to be classics, deeply touched the hearts of audiences and continued to
                sparkle on the stage. Broadway Circuit named “Broadway” also shares the same visions. We firmly believe
                that movies can take people to experience the complexity of life and the real world in a greater sense
                of meaning, inspire people to think & act positively and have the courage to make dreams and pursue them
                in their arena of life.</p>
            <a href="https://www.cinema.com.hk/en" class="btn btn-primary">Learn More »</a>
        </div>
    </div>

    <div class="card w-75">
        <div class="card-body">
            <h2 class="card-title">CGV Cinema</h2>
            <p class="card-text">GCV
                Evolving beyond movies, global no.1 cultureplex
                CGV is a subsidiary of CJ Group, also the world's Top 5 cinema exhibition company present in China,
                Vietnam, Indonesia, Myanmar, Turkey and the United States. CGV is currently operating 420 cinemas and
                3,239 screens in the world.
                Our Mission: Reaching beyond the mere move-going visit to the mall, and providing the complete cinematic
                experience with entertainment and ambiance of the highest order
                The company emphasizes and constantly develops new movie technologies such as 4DX and ScreenX etc.</p>
            <a href="https://cgv.com.hk/en/home" class="btn btn-primary">Learn More »</a>
        </div>
    </div>


{% endblock %}