{% extends "FLOVEMOVIE/moviebase.html" %}
{#<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">#}

{% block sub2_content %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="https://images3.alphacoders.com/948/thumb-1920-948864.jpg" alt="1">
            </div>

            <div class="item">
                <img src="https://images2.alphacoders.com/724/thumb-1920-724132.jpg" alt="2">
            </div>

            <div class="item">
                <img src="https://images2.alphacoders.com/491/thumb-1920-491173.jpg" alt="3">
            </div>

            <div class="item">
                <img src="https://images2.alphacoders.com/616/thumb-1920-616490.jpg" alt="4">
            </div>
        </div>

    </div>
    <hr>

    <div class="w3-container">
        {% for movies in insertmovie %}
            <div class="w3-card-1" style="width:50%">
                <h2>{{ movies.name }}</h2>
                <img src="{{ movies.urlForimage }}" alt="Alps" style="width:100%">
                <div class="w3-container w3-center">
                    <p>{{ movies.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <h2>Partner</h2>
    {% for Pn in partner %}
        <h4>{{ Pn.company }}</h4>
        <a href="{{ Pn.url }}"> <img src="{{ Pn.urlForimage }}" alt="Trulli" width="150" height="120"><a>
    {% endfor %}
    <hr>
{% endblock %}
