{% extends "FLOVEMOVIE/moviebase.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}




    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            MySQL Cluster CGE
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for o in ClusterDropDown %}
                <li class="dropdown-item"><a href="{{ o.url }}">{{ o.name }}</a></li>
            {% endfor %}
        </div>


    </div>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            MySQL for OEM/ISV
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for o in OEMDropDown %}
                <li class="dropdown-item"><a href="{{ o.url }}">{{ o.name }}</a></li>
            {% endfor %}
        </div>
    </div>

    <h2>Oracle MySQL Cloud Service</h2>

    <p>Oracle MySQL Cloud Service delivers a secure, cost-effective and enterprise-grade MySQL database service. Built
        on MySQL Enterprise Edition and powered by the Oracle Cloud, it provides a simple, automated, integrated and
        enterprise ready MySQL cloud service, enabling organizations to increase business agility and reduce costs.</p>

    <hr>

    <li class="list-group-item list-group-item-action active">Oracle MySQL Cloud Service:</li>
    {% for o in cloudbutton %}
        <li class="list-group-item list-group-item-action"><a href="{{ o.url }}">{{ o.name }}</a></li>
    {% endfor %}
    {% for o in cloudbutton2 %}
        <li class="list-group-item list-group-item-action"><a href="{{ o.url }}">{{ o.name }}</a></li>
    {% endfor %}



    <div class="card">
        <div class="card-header">
            Oracle MySQL Cloud Service delivers:
        </div>

    </div>

{% endblock %}
