{% extends "base.html" %}

{% block subbar_content %}
    <div class="container">
        <nav class="navbar navbar-default fixed-top navbar-light bg-light navbar-custom"
             style="background-color: #4479a1;">
            <ul class="nav navbar-nav">
                <li><a class="flex-sm-fill text-sm-center nav-link" href="#">Enterprise</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="community">Community</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="#">Yum Repository</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="#">APT Repository</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="#">SUSE Repository</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="#">Windows</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="#">Archives</a></li>
            </ul>
        </nav>
    </div>

{% endblock subbar_content %}
