{% extends 'base.html' %}
{% block app_content %}
    <b><h2>MySQL Downloads</h2></b>

    <h4>Oracle MySQL Cloud Service</h4>
    Oracle MySQL Cloud Service is built on MySQL Enterprise Edition and powered by Oracle Cloud, providing an
    enterprise-grade MySQL database service.
    <hr>
    <h4>MySQL Enterprise Edition</h4>
    MySQL Enterprise Edition includes the most comprehensive set of advanced features and management tools for MySQL.
    <ul class="list-group">
        {% for downloads in download %}
            <li class="list-group-item">{{ downloads.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}