{% extends "base.html" %}

{% block subbar_content %}
    <div class="container">
        <nav class="navbar navbar-default fixed-top navbar-light bg-light navbar-custom"
             style="background-color: #4479a1;">
            <ul class="nav navbar-nav">
                <li><a class="flex-sm-fill text-sm-center nav-link" href="#">Forums</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="#">Bugs</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="#">Worklog</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="#">Labs</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="#">Planet MySQL</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="#">News and Events</a></li>
                <li><a class="flex-sm-fill text-sm-center nav-link" href="#">Community</a></li>
            </ul>
        </nav>
    </div>

{% endblock subbar_content %}
