{% extends "DeveloperZone/DeveloperZone_base.html" %}


{% block app_content %}

    <div class="container">
        <div class="col-auto mr-auto float-left">
            <img src="https://i.imgur.com/ezpzoaW.png" class="rounded float-left" alt="forum-icon">
            <div class="span8">
                <h1>MySQL Forums</h1>
                <h2><a href="/forums">Forum List</a> -> topictype</h2>
            </div>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark thead-dark">
        <tr>
            <th scope="col"><h2>{{ postdata.subject }}</h2></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">
                <a href="/user/{{ writer.username }}">Topic posted by: {{ writer.username }}</a>
            </th>
        </tr>
        </tbody>
    </table>

    <table class="table table-striped">
        <tbody>
        {% for postpost, contectwriter in superpostcontect %}
            <tr>
                <th scope="row">
                    <a>Written By: </a><a href="/user/{{ contectwriter }}">{{ contectwriter }}</a>
                    <h5>Posted: {{ postpost.timestamp }}</h5>
                </th>
            </tr>
            <tr>
                <th scope="row">
                    <h4>{{postpost.contect}}</h4>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock app_content %}