{% extends "DeveloperZone/DeveloperZone_base.html" %}


{% block app_content %}

    <div class="container">
        <div class="col-auto mr-auto float-left">
            <img src="https://i.imgur.com/ezpzoaW.png" class="rounded float-left" alt="forum-icon">
            <div class="span8">
                <h1>MySQL Forums</h1>
                <h2><a href="/forums">Forum List</a> -> topictype</h2>
            </div>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col"><h2>Subject</h2></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">
                <a href="url ">writer change bg color</a>
            </th>
        </tr>
        </tbody>
    </table>

    <table class="table">
        <tbody>
        <tr>
            <th scope="row">
                <a href="url ">contect1</a>
            </th>
        </tr>
        <tr>
            <th scope="row">
                <a href="url ">contect2</a>
            </th>
        </tr>
        </tbody>
    </table>



{% endblock app_content %}