{% extends "DeveloperZone/DeveloperZone_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}

    <div class="container">
        <div class="col-auto mr-auto float-left">
            <img src="https://i.imgur.com/ezpzoaW.png" class="rounded float-left" alt="forum-icon">
            <div class="span8">
                <h1>MySQL Forums</h1>
                <h2><a href="/forums">Forum List</a> &rArr; {{ topictype }}</h2>
            </div>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col"><h4>Subject</h4></th>
            <th scope="col"><h4>Written By</h4></th>
        </tr>
        </thead>
        <tbody>
        {% for dada, wrwr in superdata %}
            <tr>
                <th scope="row">
                    <a href="{{ dada.url }}">{{ dada.subject }}</a>
                </th>
                <th scope="row">
                    <a href="/user/{{ wrwr }}">{{ wrwr }}</a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br>
<br>
<br>
<br>
    {% if form %}
        <h2>Post Your Post</h2>
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">
                    {{ wtf.quick_form(form) }}
                    <br>
                </th>
            </tr>
            </tbody>
        </table>
    {% else %}
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">
                    <h3>Plx, login for Reply</h3>
                    <h3><a href="/login">Here to Login</a></h3>
                </th>
            </tr>
            </tbody>
        </table>

    {% endif %}


{% endblock app_content %}