{% extends "DeveloperZone/DeveloperZone_base.html" %}


{% block app_content %}

    <div class="container">
        <div class="col-auto mr-auto float-left">
            <img src="https://i.imgur.com/ezpzoaW.png" class="rounded float-left" alt="forum-icon">
            <div class="span8">
                <h1>MySQL Forums</h1>
                <h2>Forum List</h2>
            </div>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col"><h4>Subject</h4></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <a href="#">I am Good Good</a>
                </th>
            </tr>
        </tbody>
    </table>



{% endblock app_content %}