{% extends 'bootstrap/base.html' %}


{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href='https://labs.mysql.com/common/themes/sakila/favicon.ico'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block title %}
    {% if title %}{{ title }} - MYSQL{% else %}Welcome to MySQL{% endif %}
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <div>
                        <a href="{{ url_for('index') }}">
                            <img id='MySQLphoto' src="https://labs.mysql.com/common/logos/mysql-logo.svg?v2">
                        </a>
                    </div>
                    <li><a href="{{ url_for('index') }}">MYSQL.COM</a></li>
                    <li><a href="{{ url_for('index') }}">DOWNLOADS</a></li>
                    <li><a href="{{ url_for('documentation') }}">DOCUMENTATION</a></li>
                    <li><a href="{{ url_for('dzoneforums') }}">DEVELOPER ZONE</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% else %}
                        <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}

{% block content %}
    <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
    {% block footer %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <div class="d-sm-none">PRODUCTS</div>
                    <div class="d-sm-none">Oracle MySQL Cloud Service</div>
                    <div class="d-sm-none">MySQL Enterprise Edition</div>
                    <div class="d-sm-none">MySQL Standard Edition</div>
                    <div class="d-sm-none">Extra small 1</div>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="d-sm-none">Service</div>
                    <div class="d-sm-none">Large Device 2</div>
                    <div class="d-sm-none">Medium Device 2</div>
                    <div class="d-sm-none">Small Device 2</div>
                    <div class="d-sm-none">Extra small 2</div>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <div class="d-none">Extra Large Device 3</div>
                    <div class="d-none">Large Device 3</div>
                    <div class="d-none">Medium Device 3</div>
                    <div class="d-none">Small Device 3</div>
                    <div class="d-none">Extra small 3</div>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <div class="d-none">Extra Large Device 4</div>
                    <div class="d-none">Large Device 4</div>
                    <div class="d-none">Medium Device 4</div>
                    <div class="d-none">Small Device 4</div>
                    <div class="d-none">Extra small 4</div>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="d-none">Extra Large Device 4</div>
                    <div class="d-none">div>Large Device 4</div>
                    <div class="d-none">Medium Device 4</div>
                    <div class="d-none">Small Device 4</div>
                    <div class="d-none">Extra small 4</div>
                </div>
            </div>
        </div>

    {% endblock %}
{% endblock %}