{% extends 'bootstrap/base.html' %}


{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href='https://labs.mysql.com/common/themes/sakila/favicon.ico'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block title %}
    {% if title %}{{ title }} - MYSQL{% else %}Welcome to MySQL{% endif %}
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ url_for('index') }}"><img id='MySQLphoto'
                                                                           src="https://labs.mysql.com/common/logos/mysql-logo.svg?v2"></a>
                <button class="navbar-toggler invisible" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% for mainq in mainbarquery %}
                            <li><a href="{{ mainq.url }}">{{ mainq.Name }}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_anonymous %}
                            <li><a href="{{ url_for('login') }}">Login</a></li>
                            <li><a href="{{ url_for('register') }}">Register</a></li>
                        {% else %}
                            <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
                            <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        {% block subbar_content %}{% endblock %}
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>


    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    {#footer#}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <div class="container ">
        <div class="row-fluid">
            <div class="span12">
                <div class="span2" style="width: 15%;">
                    <ul class="unstyled">
                        <li>GitHub
                        </li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact & support</a></li>
                        <li><a href="#">Enterprise</a></li>
                        <li><a href="#">Site status</a></li>
                    </ul>
                </div>
                <div class="span2" style="width: 15%;">
                    <ul class="unstyled">
                        <li>Applications
                        </li>
                        <li><a href="#">Product for Mac</a></li>
                        <li><a href="#">Product for Windows</a></li>
                        <li><a href="#">Product for Eclipse</a></li>
                        <li><a href="#">Product mobile apps</a></li>
                    </ul>
                </div>
                <div class="span2" style="width: 15%;">
                    <ul class="unstyled">
                        <li>Services
                        </li>
                        <li><a href="#">Web analytics</a></li>
                        <li><a href="#">Presentations</a></li>
                        <li><a href="#">Code snippets</a></li>
                        <li><a href="#">Job board</a></li>
                    </ul>
                </div>
                <div class="span2" style="width: 15%;">
                    <ul class="unstyled">
                        <li>Documentation
                        </li>
                        <li><a href="#">Product Help</a></li>
                        <li><a href="#">Developer API</a></li>
                        <li><a href="#">Product Markdown</a></li>
                        <li><a href="#">Product Pages</a></li>
                    </ul>
                </div>
                <div class="span2" style="width: 15%;">
                    <ul class="unstyled">
                        <li>More
                        </li>
                        <li><a href="#">Training</a></li>
                        <li><a href="#">Students & teachers</a></li>
                        <li><a href="#">The Shop</a></li>
                        <li><a href="#">Plans & pricing</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="span8">
                    <a href="#">Terms of Service</a>
                    <a href="#">Privacy</a>
                    <a href="#">Security</a>
                </div>
                <div class="span4">
                    <p class="muted pull-right">© 2013 Company Name. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>

    {#footer#}
{% endblock %}

